*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


/* NAVBAR */

.navbar{

display:flex;
align-items:center;
justify-content:space-between;
padding:15px 60px;
background:#6da0df;

}

.logo{

display:flex;
align-items:center;
gap:10px;
font-size:20px;
font-weight:bold;

}

.logo img{

width:40px;

}

.search{

padding:8px 15px;
border-radius:20px;
border:none;
width:250px;

}

nav a{

margin:0 15px;
text-decoration:none;
color:black;
font-weight:bold;

}

.bxs-user{

font-size:28px;

}

.ofertas, .paquetes, .mas-destinos{
padding:60px;
text-align:center;
}

.contenedor-destinos{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
}

.destino{
background:white;
width:230px;
padding:20px;
border-radius:15px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.destino img{
width:100%;
border-radius:10px;
}

.precio{
font-weight:bold;
color:#1e3a8a;
margin:10px 0;
}

button{
background:#2d5cff;
color:white;
border:none;
padding:10px 15px;
border-radius:8px;
cursor:pointer;
}